<a href="https://colab.research.google.com/github/junsikcho/Programming-Basics/blob/main/%ED%94%84%EB%B0%8D%EA%B8%B0%EC%B4%88_Code(0701)%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C%ED%8A%9C%ED%94%8C%2C%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 7장 리스트, 튜플, 딕셔너리
1) 리스트의 기본 개념을 이해하고 데이터를 효율적으로 관리할 수 있다.\
2) 리스트와 반복문을 활용해 간단한 프로그램을 작성할 수 있다.

1) 리스트를 익힌다.\
2) 리스트와 비슷한 튜플을 익힌다.\
3) 짝으로 구성된 딕셔너리를 익힌다.

In [ ]:
- 리스트의 개념\

1) C / C++나 Java 같은 프로그래밍 언어에는 리스트가 없음\
2)

In [3]:
# 리스트의 필요성
# a, b, c, d라는 정수형 변수 선언 후 이 변수에 값을 입력받고 합계 출력하는 프로그램

a, b, c, d = 0, 0, 0, 0
hap = 0

a = int(input("1번째 숫자 : "))
b = int(input("2번째 숫자 : "))
c = int(input("3번째 숫자 : "))
d = int(input("4번째 숫자 : "))

hap = a + b + c + d

print("합계 ==> %d" % hap)

1번째 숫자 : 10
2번째 숫자 : 20
3번째 숫자 : 30
4번째 숫자 : 40
합계 ==> 100

In [7]:
# Code07.01.py
# 리스트 생성 방법

# 리스트명 = [값1, 값2, 값3, 값4, ....]

aa = [10, 20, 30, 40]
print(aa)

[10, 20, 30, 40]

In [ ]:
1) 각 변수 사용
a , b, c, d = 10, 20, 30, 40
a 사용
b 사용
c 사용
d 사용

In [ ]:
2) 리스트 사용
aa = [10, 20, 30, 40]
aa[1] 사용
aa[2] 사용
aa[3] 사용
aa[4] 사용

In [8]:
# Code07.01.py를 리스트를 사용하는 프로그램으로 수정
# Code07.02.py

aa = [0, 0, 0, 0] # aa = [0, 0, 0, 0]으로 항목이 4개 있는 리스트 생성
hap = 0

aa[0] = int(input("1번째 숫자 : "))
aa[1] = int(input("2번째 숫자 : "))
aa[2] = int(input("3번째 숫자 : "))
aa[3] = int(input("4번째 숫자 : "))

hap = aa[0] + aa[1] + aa[2] + aa[3]

print("합계 ==> %d" % hap)

# 숫자 100개를 더하려면 aa=[0, 1, 0, ~99]로 생성한 후 aa[0] + aa[1] + aa[2] + ... aa[99]로 작성

1번째 숫자 : 10
2번째 숫자 : 20
3번째 숫자 : 30
4번째 숫자 : 40
합계 ==> 100

In [9]:
# 빈 리스트의 생성과 항목 추가
aa = []
aa.append(0)
aa.append(0)
aa.append(0)
aa.append(0)
print(aa)

[0, 0, 0, 0]

In [11]:
aa = []
for i in range(0, 100) : # 0부터 99까지의 숫자를 반복(100포함 X) (반복문은 총 100번 실행)
  aa.append(0) # 리스트에 0 추가(리스트 끝에 값에)
len(aa) # 리스트 aa의 길이를 반환
# len() 함수는 리스트의 원소 개수를 계산
# aa에 100개의 0이 들어있으므로, 결과는 100

100

In [16]:
# 리스트의 첨자가 순서대로 변할 수 있도록 반복문과 함께 활용

aa = [] # 빈 리스트 생성
for i in range(0, 4) :
  aa.append(0)
hap = 0

for i in range(0, 4) : # i가 0에서 3까지 4번 반복
   aa[i] = int(input(str(i + 1) + "번째 숫자 : "))
# 9번 설명 : input()함수는 첨자 i가 0부터 시작하므로 i + 1로 출력. str()함수가 숫자를 문자로 변환한 후 '번째 숫자 : ' 와 합쳐지므로 결국 '1번째 숫자 : ', '2번째 숫자 : ' 등으로 출력
# 9번 설명 : 7행의 첨자 i가 0에서 3까지 4번 변경되므로 aa[0], aa[1], aa[2], aa[3] 등 변수 4개에 값을 차례대로 입력해 [Code07-02]와 같이 작동
hap = aa[0] + aa[1] + aa[2] + aa[3] # 빈 리스트 생성

print("합계 ==> %d" % hap)

1번째 숫자 : 10
2번째 숫자 : 20
3번째 숫자 : 30
4번째 숫자 : 40
합계 ==> 100

In [19]:
# SELF STUDY
aa = []  # 빈 리스트 생성
for i in range(0, 10):  # 0부터 9까지 10번 반복
    aa.append(0)

for i in range(0, 10):  # 10개의 값을 입력받아 리스트에 저장
    aa[i] = int(input(str(i + 1) + "번째 숫자 : "))

hap = 0  # 합계를 저장할 변수
i = 0    # while문의 초기 첨자 설정

while i < 10:  # i가 0부터 9까지 반복
    hap += aa[i]  # 리스트의 i번째 값을 합계에 더함
    i += 1        # 첨자를 1 증가

print("합계 ==> %d" % hap)  # 최종 합계 출력

1번째 숫자 : 10
2번째 숫자 : 20
3번째 숫자 : 30
4번째 숫자 : 40
5번째 숫자 : 50
6번째 숫자 : 60
7번째 숫자 : 70
8번째 숫자 : 80
9번째 숫자 : 90
10번째 숫자 : 100
합계 ==> 550

In [ ]:
# 리스트 생성 코드

aa = [] # 빈 리스트 생성
bb = [10, 20, 30] # 정수로만 구성된 리스트 생성
cc = ['파이썬', '공부는', '꿀잼'] # 문자열로만 구성된 리스트 생성
dd = [10, 20, '파이썬'] # 다양한 데이터형을 섞어 리스트 생성

In [20]:
# 0701자료 P.17 참고
# 리스트 초기화

aa = [] # 빈 리스트 aa, bb 생성
bb = []
value = 0 # 4value는 0, 2, 4, ...로 증가시킬 값

for i in range(0, 100) : # 100번을 반복
  aa.append(value)
  value += 2 # 리스트 aa에 value를 추가한 후 2씩 증가

for i in range(0, 100) : # 0 ~ 99로 100번 반복
  bb.append(aa[99 - i])

print("bb[0]에는 %d이, bb[99]에는 %d이 입력됩니다." % (bb[0], bb[99]))

bb[0]에는 198이, bb[99]에는 0이 입력됩니다.

In [22]:
# SELF STUDY - 리스트 초기화

aa = []
bb = []
value = 0

for i in range(0, 200) :
  aa.append(value)
  value += 3

for i in range(0, 200) :
  bb.append(aa[199 - i])

print("bb[0]에는 %d이, bb[199]에는 %d이 입력됩니다." % (bb[0], bb[199]))

bb[0]에는 597이, bb[199]에는 0이 입력됩니다.

In [23]:
# 리스트 값에 접근하는 다양한 방법 ( 음수값으로 접근 )
aa = [10, 20, 30, 40]
print("aa[-1]은 %d, aa[-2]는 %d" % (aa[-1], aa[-2]))

aa[-1]은 40, aa[-2]는 30

In [25]:
# 리스트 값에 접근하는 다양한 방법 ( 리스트에 접근할 때 콜론(:)을 사용해 범위를 지정)
aa = [10, 20, 30, 40]
aa[0 : 3] # 0번째 리스트부터 3번째 리스트 까지

[10, 20, 30]

In [26]:
# 리스트 값에 접근하는 다양한 방법 ( 리스트에 접근할 때 콜론(:)을 사용해 범위를 지정)
aa = [10, 20, 30, 40]
aa[2 : 4] # 2번째 리스트부터 4번째 리스트 까지 ( 0 ~ 3 )

[30, 40]

In [29]:
# 리스트 값에 접근하는 다양한 방법 ( 콜론의 앞이나 뒤 숫자 생략 )
aa = [10, 20, 30, 40]
aa[2 : ] # 2번째부터 끝까지

[30, 40]

In [30]:
# 리스트 값에 접근하는 다양한 방법 ( 콜론의 앞이나 뒤 숫자 생략 )
aa = [10, 20, 30, 40]
aa[ : 2] # 처음부터 2번째까지

[10, 20]

In [32]:
# 리스트 값에 접근하는 다양한 방법 ( 리스트끼리 덧셈, 곱셈 연산)
aa = [10, 20, 30]
bb = [40, 50, 60]
aa + bb

[10, 20, 30, 40, 50, 60]

In [33]:
# 리스트 값에 접근하는 다양한 방법 ( 리스트끼리 덧셈, 곱셈 연산)
aa = [10, 20, 30]
bb = [40, 50, 60]
aa * 3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [34]:
# 리스트 값에 접근하는 다양한 방법 ( 리스트이 항목 건너뛰며 추출)
aa = [10, 20, 30, 40, 50, 60 ,70]
aa[::2]

[10, 30, 50, 70]

In [35]:
# 리스트 값에 접근하는 다양한 방법 ( 리스트이 항목 건너뛰며 추출)
aa = [10, 20, 30, 40, 50, 60 ,70]
aa[::-2]

[70, 50, 30, 10]

In [36]:
# 리스트 값에 접근하는 다양한 방법 ( 리스트이 항목 건너뛰며 추출)
aa = [10, 20, 30, 40, 50, 60 ,70]
aa[::-1]

[70, 60, 50, 40, 30, 20, 10]

In [37]:
# 리스트 값의 변경 (두 번째에 위치한 값을 1개 변경하는 방법)
aa = [10, 20, 30]
aa[1] = 200 # 0번째, 1번째, 2번째 순인데, 1번째값인 20을 200으로 변경
aa

[10, 200, 30]

In [38]:
# 리스트 값의 변경 (두 번째 값인 20을 200과 201이라는 값 2개로 변경하는 방법)
aa = [10, 20, 30] # aa[0] -> 10 , aa[1] -> 20, aa[2] -> 30
aa[1:2] = [200, 201] # aa[1:2]는 인덱스 1부터 2 전까지(즉, aa[1])의 요소를 선택 / 선택된 [20]을 [200, 201]로 교체
aa

[10, 200, 201, 30]

In [39]:
# 리스트 값의 변경 ( aa[1:2] 대신 그냥 aa[1] 사용)
aa = [10, 20, 30]
aa[1] = [200, 201] # 인덱스 첫번째 리스트인 20을 [200,201]로 변경
aa

[10, [200, 201], 30]

In [42]:
# 리스트 값의 변경 ( 두 번째인 aa[1]의 항목 삭제)
aa = [10, 20, 30]
del(aa[1]) # 인덱스 첫번째 리스트인 20을 삭제
aa

[10, 30]

In [44]:
# 리스트 값의 변경 (두 번째인 aa[1]에서 네 번째인 aa[3]까지 삭제)
aa = [10, 20, 30, 40, 50]
aa[1:4] = [] # aa[1:4]은 인덱스 1부터 4 전까지의 요소를 선택 / 20, 30, 40 삭제
aa

[10, 50]

In [45]:
# 리스트 값의 변경 ( 리스트 자체를 삭제하는 방법
aa = [10, 20, 30]; aa = []; aa
aa = [10, 20, 30]; aa = None; aa
aa = [10, 20, 30]; del(aa); aa)
# 아무것도 안나오는 코드임 오류

SyntaxError: unmatched ')' (<ipython-input-45-107702f612b2>, line 4)

In [ ]:
리스트 조작 함수
함수	설명	사용법
append()	리스트 맨 뒤에 항목을 추가한다.	리스트명.append(값)
pop()	리스트 맨 뒤의 항목을 빼낸다(리스트에서 해당 항목이 삭제된다).	리스트명.pop()
sort()	리스트의 항목을 정렬한다.	리스트명.sort()
reverse()	리스트 항목의 순서를 역순으로 만든다.	리스트명.reverse()
index()	지정한 값을 찾아 해당 위치를 반환한다.	리스트명.index(찾을값)
insert()	지정된 위치에 값을 삽입한다.	리스트명.insert(위치, 값)
remove()	리스트에서 지정한 값을 삭제한다. 단 지정한 값이 여러 개면 첫 번째 값만 지운다.	리스트명.remove(지울값)
extend()	리스트 뒤에 리스트를 추가한다. 리스트의 더하기(+) 연산과 기능이 동일하다.	리스트명.extend(추가할리스트)
count()	리스트에서 해당 값이 개수를 센다.	리스트명.count(찾을값)
clear()	리스트의 내용을 모두 지운다.	리스트명.clear()
del()	리스트에서 해당 위치의 항목을 삭제한다.	del(리스트명[위치])
len()	리스트에 포함된 전체 항목의 개수를 센다.	len(리스트명)
copy()	리스트의 내용을 새로운 리스트에 복사한다.	새리스트 = 리스트명.copy()
sorted()	리스트의 항목을 정렬해서 새로운 리스트에 대입한다.	새리스트 = sorted(리스트명)

# 리스트 조작 함수

In [47]:
myList = [30, 10, 20]  # 초기 리스트 생성
print("현재 리스트 : %s" % myList)  # 현재 리스트 출력

myList.append(40)  # 리스트의 끝에 40 추가
print("append(40) 후의 리스트 : %s" % myList)  # 40이 추가된 리스트 출력

print("pop()으로 추출한 값 : %s" % myList.pop())  # 리스트의 마지막 값을 추출하고 반환
print("pop() 후의 리스트 : %s" % myList)  # pop() 이후의 리스트 출력

myList.sort()  # 리스트의 값을 오름차순으로 정렬
print("sort() 후의 리스트 : %s" % myList)  # 정렬된 리스트 출력

myList.reverse()  # 리스트의 값을 역순으로 정렬
print("reverse() 후의 리스트 : %s" % myList)  # 역순으로 정렬된 리스트 출력

print("20값의 위치 : %d" % myList.index(20))  # 리스트에서 20의 위치(인덱스)를 반환

myList.insert(2, 222)  # 리스트의 2번 인덱스 위치에 222 삽입
print("insert(2, 222) 후의 리스트 : %s" % myList)  # 222가 삽입된 리스트 출력

myList.remove(222)  # 리스트에서 값 222를 제거
print("remove(222) 후의 리스트 : %s" % myList)  # 222가 제거된 리스트 출력

myList.extend([77, 88, 77])  # 리스트의 끝에 [77, 88, 77]을 확장하여 추가
print("extend([77, 88, 77]) 후의 리스트 : %s" % myList)  # 확장된 리스트 출력

print("77값의 개수 : %d" % myList.count(77))  # 리스트에서 77의 개수를 세어 출력

현재 리스트 : [30, 10, 20]
append(40) 후의 리스트 : [30, 10, 20, 40]
pop()으로 추출한 값 : 40
pop() 후의 리스트 : [30, 10, 20]
sort() 후의 리스트 : [10, 20, 30]
reverse() 후의 리스트 : [30, 20, 10]
20값의 위치 : 1
insert(2, 222) 후의 리스트 : %s % myList
remove(222) 후의 리스트 : [30, 20, 10]
extend([77, 88, 77]) 후의 리스트 : [30, 20, 10, 77, 88, 77]
77값의 개수 : 2

In [48]:
myList = [30, 10, 20]  # 초기 리스트 생성
newList = sorted(myList)  # 기존 리스트를 변경하지 않고, 정렬된 새로운 리스트를 생성

# sorted() 함수는 myList를 정렬하지만, 원본(myList)은 변경하지 않고, 결과를 새로운 리스트(newList)로 반환한다.

print("sorted() 후의 myList : %s" % myList)  # 기존 리스트(myList)는 여전히 변경되지 않은 상태
print("sorted() 후의 newList : %s" % newList)  # 정렬된 새로운 리스트(newList)를 출력

sorted() 후의 myList : [30, 10, 20]
sorted() 후의 newList : [10, 20, 30]