<a href="https://colab.research.google.com/github/junsikcho/Penguin/blob/main/%ED%94%84%EB%B0%8D%EA%B8%B0%EC%B4%88_Code(0201)%EB%B3%80%EC%88%98%EC%99%80_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수와 데이터형 0201
1) print()함수로 서식에 맞추어 출력하는 방법을 익힌다.\
2) print()함수로 별표를 다이아몬드 모양으로 출력하는 프로그램을 만든다.

In [1]:
print("안녕하세요?")

안녕하세요?

In [2]:
print("100")
# 결과로 나온 100은 숫자 100이 아닌 문자 100(일영영)임.
# ""안의 내용이 문자든 숫자든 무조건 문자로 취급함.

100

#print()함수에서 사용할 수 있는 서식
1) %d, %x, %0 => 정수(10진수, 16진수, 8진수) 예: 10, 100, 1234\
2) %f => 실수(소수점이 붙은 수) 예: 0.5, 1.0, 3.14\
3) %C => 한 글자 예: "b", "한"\
4) %S => 두 글자 이상인 문자열 예: "안녕", "abcdefg", "a"

In [3]:
print("%d" % 100)
# 결과로 나온 100은 숫자 100(백)을 의미함.

100

In [4]:
print("100 + 100")
# 결과로 나온 100 + 100은 숫자가 아닌 문자임.

100 + 100

In [5]:
print("%d" % (100 + 100))
# 결과로 나온 200은 100 + 100을 더한 숫자 200임.

200

In [6]:
print("%d" % (100, 200))
# 에러가 나는 이유 : %d가 하나밖에 없는데 숫자가 2개 이므로 => %d 2개로 수정

TypeError: not all arguments converted during string formatting

In [8]:
print("%d %d" % (100, 200))
# 수정 코드

100 200

In [9]:
print("%d %d" % (100))
# 에러가 나는 이유 : %d가 2개인데 숫자가 한개라 서로 짝이 맞지 않음 -> %d 한개 삭제

TypeError: not enough arguments for format string

In [11]:
print("%d" % (100))
# 수정 코드

100

In [14]:
print("%d / %d = %d" % (100, 200, 0.5))
# 첫 번째 %d는 100을 정수로 표시 => 100
# 두 번째 %d는 200을 정수로 표시 => 200
# 세 번째 %d는 0.5를 정수로 표시 => 0
# 따라서 아래와 같이 코드를 수정

100 / 200 = 0

In [18]:
print("%d / %d = %5.1f" % (100, 200, 0.5))

'''
%5.1f의 의미:
f:
숫자를 **실수(floating-point number)**로 출력하라는 뜻입니다.
0.5와 같은 실수를 다룰 때 사용합니다.

.1:
소수점 이하 1자리까지 표시하라는 뜻입니다.
예: 0.5는 소수점 이하 1자리까지 그대로 출력됩니다.

5:
전체 출력 폭(자리수)이 최소 5칸이 되도록 숫자를 출력하라는 뜻입니다.
만약 숫자가 5칸보다 짧으면 앞에 공백으로 채워집니다.

왜 이렇게 할까?
1) 출력 정렬: 여러 값을 표 형태로 출력할 때, 숫자들이 깔끔하게 정렬됩니다. (가독성)
2) 소수점 이하 자리수 통일: 실수를 일정한 자리수로 출력해 데이터를 일관되게 보여줍니다.
'''

100 / 200 =   0.5

# print()함수를 사용한 깔끔한 출력

In [19]:
# 정수형 데이터의 서식 지정
print("%d" % 123) # 숫자의 자릿수만큼 정렬
print("%5d" % 123) # 오른쪽에 붙여서 정렬(다섯 자리 확보)
print("%05d" % 123) # 오른쪽에 붙여서 정렬 (빈칸을 0으로 채움)

123
  123
00123

In [22]:
# 실수형 데이터의 서식 지정
print("%f" % 123.45) # 소수점 아래 여섯자리까지 무조건 출력
print("%7.1f" % 123.45) # 소수점 아래 첫째 자리만 출력 ( 소수점 아래 둘째 자리에서 반올림 )
print("%7.3f" % 123.45) # 소수점 아래 셋째 자리까지 출력 ( 오른쪽 빈칸은 0으로 채움 )

123.450000
  123.5
123.450

In [24]:
# 문자열 데이터의 서식 지정
print("%s" % "Python") # 자릿수만큼 출력
print("%10s" % "Python") # 오른쪽 정렬 ( 열 자리 출력 )

Python
    Python

In [25]:
# format()함수와 {}를 함께 사용해 서식 저장
# Format() 함수의 사용
print("%d %5d %05d" % (123, 123, 123))
print("{0:d} {1:5d} {2:05d}".format(123,123,123)) # 0번째 / 1번째 / 2번째

123   123 00123
123   123 00123

In [26]:
# Format을 사용해 출력 순서 지정
print("{2:d} {1:d} {0:d}".format(100,200,300))

300 200 100

In [28]:
# Format을 사용해 출력 순서 지정
print("한 행입니다. 또 한 행입니다.")
print("한 행입니다. \n또 한 행입니다.")

한 행입니다. 또 한 행입니다.
한 행입니다.
또 한 행입니다.

# 이스케이프 문자
1) \n => [Enter]를 누른 효과 / 새로운 줄로 이동\
2) \t => [Tap]을 누른 효과 / 다음 탭으로 이동\
3) \b => [Backspace]를 누른 효과 / 뒤로 한 칸 이동\
4) \\ => \출력\
5) \\' => '출력\
6) \\" => "출력

In [38]:
print("\n줄바꿈\n연습")
print("\t탭키\t연습")
print("글자가 \" 강조 \" 되는 효과1")
print("글자가 \'강조\' 되는 효과2")
print("\\\\\\ 역슬래시 세 개 출력")
print(r"\n \t \" \\를 그대로 출력")

줄바꿈
연습
	탭키	연습
글자가 " 강조 " 되는 효과1
글자가 '강조' 되는 효과2
\\\ 역슬래시 세 개 출력
\n \t \" \\를 그대로 출력

In [45]:
print(" * ")
print(" ***")
print(" *****")
print(" *******")
print(" *********")
print(" *******")
print(" *****")
print(" *** ")
print(" * ")

 *
 ***
 *****
 *******
 *********
 *******
 *****
 ***
 *

In [46]:
# Self Study
print(" *********")
print(" ******* ")
print(" *****")
print(" *** ")
print(" * ")
print(" *** ")
print(" ***** ")
print(" ******* ")
print(" ********* ")

 *********
 *******
 *****
 ***
 *
 ***
 *****
 *******
 *********