<a href="https://colab.research.google.com/github/junsikcho/Programming-Basics/blob/main/%ED%94%84%EB%B0%8D%EA%B8%B0%EC%B4%88_Code(0702)%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C%ED%8A%9C%ED%94%8C%2C%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 07장-2 리스트, 튜플, 딕셔너리
# 2차원 리스트 튜플
1) 2차원 리스트의 구조와 활용 방법을 이해하고, 데이터 행과 열로 관리할 수 있다.\
2) 튜플의 불변성 및 사용법을 이해하고, 필요한 경우 리스트와의 차이를 설명할 수 있다.

# 2차원 리스트의 개념
1) 1차원 리스트를 여러 개 연결한 것, 첨자를 2개 사용\
1차원 : aa = [10, 20, 30]\
Ex. aa[0] aa[1] aa[2]

2차원 : aa [[1,2 ,3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]\
Ex. aa[0] -> aa[0][0] aa[0][1] aa[0][2] aa[0[3]] , aa[1] -> aa[1][0] aa[1][1] ...

In [ ]:
list1 = []  # 한 행(row)을 저장할 리스트
list2 = []  # 2차원 리스트를 저장할 리스트
value = 1   # 리스트에 저장할 초기 값

# 중첩 반복문으로 3행 4열 리스트 생성
for i in range(0, 3):  # 3개의 행을 반복
    list1 = []  # 각 행(row)을 새로 생성
    for k in range(0, 4):  # 4개의 열을 반복
        list1.append(value)  # 현재 값을 list1에 추가
        value += 1  # 값을 1씩 증가
    list2.append(list1)  # 완성된 한 행(row)을 list2에 추가

# 리스트 출력
for i in range(0, 3):  # 3개의 행 반복
    for k in range(0, 4):  # 각 행의 4개의 열 반복
        print("%3d" % list2[i][k], end=" ")  # 2차원 리스트의 값 출력
    print("")  # 한 행(row)의 출력이 끝나면 줄바꿈

'''
중첩 for 문을 사용, 3행 4열짜리 리스트 생성 후 항목 1 ~ 12를 입력하고 출력
'''

  1   2   3   4
  5   6   7   8
  9  10  11  12

In [5]:
# SELF STUDY ( 2차원 리스트의 개념 )
# 4행 5열의 2차원 리스트를 만들고, 0 부터 3의 배수를 입력하여 출력하도록 위 코드를 수정해보자. 출력 결과는 다음과 같다

list1 = []  # 한 행(row)을 저장할 리스트
list2 = []  # 2차원 리스트를 저장할 리스트
value = 0   # 리스트에 저장할 초기 값

# 중첩 반복문으로 4행 5열 리스트 생성
for i in range(0, 4):  # 4개의 행을 반복
    list1 = []  # 각 행(row)을 새로 생성
    for k in range(0, 5):  # 5개의 열을 반복
        list1.append(value)  # 현재 값을 list1에 추가
        value += 3  # 값을 1씩 증가
    list2.append(list1)  # 완성된 한 행(row)을 list2에 추가

# 리스트 출력
for i in range(0, 4):  # 4개의 행 반복
    for k in range(0, 5):  # 각 행의 5개의 열 반복
        print("%3d" % list2[i][k], end=" ")  # 2차원 리스트의 값 출력
    print("")  # 한 행(row)의 출력이 끝나면 줄바꿈

  0   3   6   9  12
 15  18  21  24  27
 30  33  36  39  42
 45  48  51  54  57

In [ ]:
# 2차원 리스트의 개념 (불규칙한 크기의 2차원 리스트)

aa = [[1, 2, 3, 4], [5, 6], [7, 8, 9]]

'''
aa[0][0] , aa[0][1], aa[0][2], aa[0][3]
aa[1][0] , aa[1][2]
aa[2][0] , aa[2][1], aa[2][2]
'''

# 튜플

# 튜플의 생성
1) 리스트는 대괄호 []로 생성, 튜플은 소괄호 ()로 생성\
2) 튜플은 값을 수정할 수 없으며, 읽기만 가능해 읽기 전용 자료를 저장할 때 사용

In [9]:
tt1 = (10, 20, 30); tt1

(10, 20, 30)

In [10]:
tt2 = 10, 20, 30; tt2

(10, 20, 30)

3) 튜플은 소괄호 ()를 생략 가능,\
항목이 하나인 튜플은 tt5와 tt6처럼 뒤에 쉼표(,) 붙임

In [13]:
tt3 = (10); tt3

10

In [14]:
tt4 = 10; tt4

10

In [17]:
tt5 = (10,); tt5

(10,)

In [18]:
tt6 = 10,; tt6

(10,)

In [20]:
# 튜플의 오류
tt1.append(40)
tt1[0] = 40
del(tt1(0))

SyntaxError: cannot delete function call (<ipython-input-20-d8e2de51f1f7>, line 4)

In [21]:
# 튜플의 삭제
del(tt1)

In [22]:
# 튜플의 삭제
del(tt2)

# 튜플의 사용

In [23]:
# 튜플 항목에 접근
tt1 = (10, 20, 30, 40)
tt1[0]

10

In [25]:
tt1 = (10, 20, 30, 40)
tt1[0] + tt1[1] + tt1[2]

60

In [27]:
# 튜플 범위에 접근
tt1[1 : 3]

(20, 30)

In [28]:
tt1[ 1 : ]

(20, 30, 40)

In [29]:
tt1[ : 3]

(10, 20, 30)

In [31]:
# 튜플의 덧셈 및 곱셈 연산
tt2 = ('A', 'B')
tt1 + tt2

(10, 20, 30, 40, 'A', 'B')

In [32]:
tt2 * 3

('A', 'B', 'A', 'B', 'A', 'B')

In [47]:
# 2차원 튜플 생성
tt = ((1, 2, 3),
      (4, 5, 6),
      (7, 8, 9))

# 튜플 덧셈과 곱셈을 이용해 출력
result = tt[0] * 1 + tt[1] * 1 + tt[2] * 1

# 출력
print(result[0], result[1], result[2])
print(result[3], result[4], result[5])
print(result[6], result[7], result[8])

1 2 3
4 5 6
7 8 9

In [48]:
# 예 : 튜플 -> 리스트 -> 튜플 변환
myTuple = (10, 20, 30)
myList = list(myTuple)
myList.append(40)
myTuple = tuple(myList)
myTuple

(10, 20, 30, 40)